$color-bg: hsl(0, 100%, 10%);
$color-text: rgb(255, 255, 255);
$center: 0 calc(50% - 570px);

body {
    margin: 0;
    padding: 0;
}

.cart {
    padding: $center;
    background-color: $color-bg;
    color: $color-text;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 30px;

}

.catalog {
    padding: $center;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    margin-bottom: 20px;
    text-align: center;
    border: 0.5px solid $color-bg;
    box-sizing: border-box;
    padding-bottom: 10px;

    &__title {
        color: $color-bg;
    }
}