@mixin firstColAndRow {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
}

.col {
    width: 70px;
    height: 70px;
    border: 1px solid #000;
    box-sizing: border-box;
}

.col-num {
    @include firstColAndRow();
}

.row-let {
    @include firstColAndRow();
}

.black {
    background-color: #000;
}