.container {
    margin-left: 15px;
}

#showPopupBtn {
    margin-bottom: 50px;
    cursor: pointer;
}

.img-mini {
    margin-bottom: 50px;

    img {
        height: 5%;
        width: 5%;
        margin-right: 7px;
        cursor: pointer;
    }
}

#popup {
    width: 600px;
    height: 500px;
    background-color: #d8d8d8;
    position: absolute;
    top: 130px;
    left: calc(50% - 300px);
    display: none;
}

#closePopupBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    
    i {
        color: rgb(90, 88, 88);
    }
}

#slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;

    button {
        background-color: inherit;
        border: none;
        cursor: pointer;
        i {
            color: rgb(90, 88, 88);
        }
    }
}

.slider-img {
    display: none;
}