@import 'gallery.scss';

$color-bg: hsl(0, 100%, 10%);
$color-text: rgb(255, 255, 255);
$center: 0 calc(50% - 570px);

body {
    margin: 0;
    padding: 0;
}

.cart {
    padding: $center;
    background-color: $color-bg;
    color: $color-text;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 30px;
    cursor: pointer;


}

.catalog {
    padding: $center;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.item-card {
    margin-bottom: 20px;
    text-align: center;
    border: 0.5px solid $color-bg;
    box-sizing: border-box;
    padding-bottom: 10px;

    &__title {
        color: $color-bg;
    }
  
    &__btn {
        cursor: pointer;
    }
}

.popup {
    width: 700px;
    height: 550px;
    background-color: #e9dcdb;
    position: fixed;
    top: 130px;
    left: calc(50% - 350px);
    display: none;
    color: $color-bg;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    
    i {
        color: rgb(90, 88, 88);
  }  
}

.slide {
    padding: 20px;
    display: none;
}

.cart-item {
    margin-bottom: 20px;
}

.delete-btn {
    margin-top: 10px;
    cursor: pointer;
}

.next-btn {
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 324px;
}